@inherits AppComponentBase

<footer class="footer">
    <div class="footer-content">
        <div class="song-preview">
            <BitImage ImageFit="BitImageFit.Contain" Width="112" Style="border-radius: 5px" Src="_content/Bit.Fluent.Player.Client.Core/images/bit-logo.svg" />
            <div style="width: 100%">
                <BitTypography Variant="BitTypographyVariant.H6" Gutter>Song</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Caption">Description</BitTypography>
            </div>
            <BitToggleButton Class="like-btn"
                             OffIconName="@BitIconName.Heart"
                             OnIconName="@BitIconName.HeartFill"
                             ButtonStyle="BitButtonStyle.Standard" />
        </div>
        <div class="controls">
            <div class="main-controls">
                <BitIconButton IconName="@BitIconName.Switch" Style="border-radius: 50%" />
                <BitIconButton IconName="@BitIconName.Previous" Style="border-radius: 50%" />
                <BitToggleButton Class="play-btn" OnIconName="@BitIconName.Pause" OffIconName="@BitIconName.Play" />
                <BitIconButton IconName="@BitIconName.Next" Style="border-radius: 50%" />
                <BitIconButton IconName="@BitIconName.Sync" Style="border-radius: 50%" />
            </div>
            <div class="main-slider">
                <BitLabel Style="margin: 0 8px; width: 36px; text-align:end">10:19</BitLabel>
                <BitSlider Style="width: 100%" ShowValue="false" ValueFormat="P00" DefaultValue="100" />
                <BitLabel Style="margin: 0 8px; width: 36px; text-align:start">20:16</BitLabel>
            </div>
        </div>
        <div class="settings">
            <BitIconButton IconName="@BitIconName.Microphone" Style="border-radius: 50%" />
            <BitIconButton IconName="@BitIconName.LineThickness" Style="border-radius: 50%" />
            <BitIconButton IconName="@BitIconName.Devices3" Style="border-radius: 50%" />
            <BitToggleButton Class="volume-btn"
                             OffIconName="@BitIconName.Volume3"
                             OnIconName="@BitIconName.VolumeDisabled"
                             ButtonStyle="BitButtonStyle.Primary" />
            <BitSlider Style="width: 100px" DefaultValue="10" />
            <BitIconButton IconName="@BitIconName.FullScreen" Style="border-radius: 50%" />
            <BitMenuButton Class="see-more"
                           TItem="BitMenuButtonOption"
                           Styles="@(new() { ChevronDown = "display: none"})"
                           IconName="@BitIconName.More"
                           ButtonStyle="BitButtonStyle.Standard">
                <BitMenuButtonOption Text="Properties" IconName="@BitIconName.Info" />
                <BitMenuButtonOption Text="Speed" IconName="@BitIconName.SpeedHigh" />
                <BitMenuButtonOption Text="Send feedback" OnClick="OnFeedBackClick" IconName="@BitIconName.Feedback" />
            </BitMenuButton>
        </div>
    </div>
</footer>