@inherits AppComponentBase;

@if (IsMenuOpen)
{
    <div class="menu-overlay" @onclick=CloseMenu></div>
}

<section class="main-container @(IsMenuOpen ? null : "main-container--closed")">
    <BitNav Items="_navItems"
            AriaLabel="NavMenu"
            DefaultSelectedItem="_navItems[0]"
            ClassStyles="@(new() { SelectedItemContainer = new() { Class = "nav-slc-item" },
                                   ItemContainer = new() { Class = "nav-slc-ict" },
                                   ItemIcon = new() { Class = "nav-slc-icn" } })"
            OnItemClick="(BitNavItem item) => CloseMenu()" />
    <div class="divider"></div>
    <BitActionButton OnClick="CreateNewPlaylist" Class="nav-atn-btn" Styles="@(new() { Icon = "margin: 0 8px" })" IconName="@BitIconName.Add">Create playlist</BitActionButton>
    <BitActionButton Class="nav-atn-btn" Styles="@(new() { Icon = "margin: 0 8px" })" IsEnabled="false" IconName="@BitIconName.Heart">Liked songs</BitActionButton>
</section>